@import url(style.css);

.capas {
    display: grid;
    grid-template-columns: [A]1fr [B]1fr [C]1fr [D]1fr;
    grid-template-rows: [A]1fr [B]1fr [C]1fr [D]1fr;
}

.item:nth-child(1) {
    grid-column: A / C;
    grid-row: A / C;
    background-color: #DAA06D;
}
.item:nth-child(2) {
    grid-column: C / -D;
    grid-row: A / C;
    background-color: #FF7F50;
}
.item:nth-child(3) {
    grid-column: A / C;
    grid-row: C / -D;
    background-color: #EADDCA;
}
.item:nth-child(4) {
    grid-column: C / -D;
    grid-row: C / -D;
    background-color: #DFFF00;
}
.item:nth-child(5) {
    grid-column: B / D;
    grid-row: B / D;
    background-color: #BF40BF;
}

div {
    height: auto;
    width: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



